# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=energia_db
DB_USER=postgres
DB_PASS=postgres

# FastAPI
DEBUG=True
API_PREFIX=/api/v1

# CORS
ALLOWED_ORIGINS=["http://localhost:5173"]

# JWT - generá tu propia clave con: openssl rand -hex 32
SECRET_KEY=cambia_esto_por_una_clave_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Seed del usuario administrador inicial
ADMIN_MAIL=admin@cammesa.com
ADMIN_PASSWORD=cambia_esto_tambien

# Rutas ML
BASE_DATASET_PATH=ml/base_dataset/demandaltimosaos.csv
MODEL_PATH=ml/trained/gradient_boosting.joblib
ENCODERS_PATH=ml/trained/encoders.joblib