# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environment
.venv/
venv/

# uv
.uv/

# Variables de entorno
.env

# Base de datos local
*.db
*.sqlite3


# Modelos entrenados
*.joblib
*.pkl

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db